
.idea/BlindMixTape.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea

ffmpeg.exe
ffplay.exe
ffprobe.exe

test.py
/game/
/__pycache__/*
*/__pycache__/*
\__pycache__\ressources.cpython-310.pyc

/partie/


