
.idea/BlindMixTape.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
vue/__pycache__/button.cpython-310.pyc
vue/__pycache__/ressources.cpython-310.pyc
vue/__pycache__/vignette_joueur.cpython-310.pyc
vue/__pycache__/volume_bar.cpython-310.pyc
